body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

p {
  text-align: left;
  font-weight: 400;
  font-style: normal;
  line-height: 1.9;
}

table {
  text-align: left;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-weight: 300;
  font-style: normal;
  font-size: small;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  align-items: center;
  gap: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px 10px;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.footerImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.footerTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media screen and (max-width: 800px) {
  .mainContainer {
    width: 90%;
    font-size: small;
  }
}
